@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/Content/css/dashbord.css" rel="stylesheet" />
<link href="~/Content/cssLogin/css/font-awesome.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Dashboard  Agent Siege Reception 
    </h1>
</section>
<br /><br />

<div class="row-fluid">
    <!--BEGIN METRO STATES-->
   < div class="metro-nav">
    <div class="metro-nav-block nav-block-orange">
        <a data-original-title="" href="#">
            <i class="icon-user"></i>

            <div class="status">Ajouter Utilisateur</div>
        </a>
    </div>
    <div class="metro-nav-block nav-olive">
        <a data-original-title="" href="#">
            <i class="icon-tags"></i>
            <div class="info"></div>
            <div class="status">Transaction</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-yellow">
        <a data-original-title="" href="#">
            <i class="glyphicon glyphicon-user"></i>
            <div class="info"></div>
            <div class="status">Groupe Utilisateur</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-green double">
        <a data-original-title="" href="#">
            <i class="icon-eye-open"></i>
            <div class="info"></div>
            <div class="status">Changer Droit d'accès</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-red">
        <a data-original-title="" href="#">
            <i class="icon-bar-chart"></i>
            <div class="info">+288</div>
            <div class="status">Integration</div>
        </a>
    </div>
</div>
<div class="metro-nav">
    <div class="metro-nav-block nav-light-purple">
        <a data-original-title="" href="#">
            <i class="icon-shopping-cart"></i>
            <div class="info"></div>
            <div class="status">Flux </div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-blue double">
        <a data-original-title="" href="#">
            <i class="icon-tasks"></i>
            <div class="info"></div>
            <div class="status">Consulter Banque</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-green">
        <a data-original-title="" href="#">
            <i class="icon-envelope"></i>
            <div class="info">1e2s3t</div>
            <div class="status">Messages</div>
        </a>
    </div>
    <div class="metro-nav-block nav-light-brown">
        <a data-original-title="" href="@Url.Action("Index", "ReceptionPB")">
            <i class="glyphicon glyphicon-book"></i>
            <div class="info"></div>
            <div class="status">Document</div>
        </a>
    </div>
    <div class="metro-nav-block nav-block-grey ">
        <a data-original-title="" href="#">
            <i class="icon-external-link"></i>
            <div class="info">+3412</div>
            <div class="status"> Rapports</div>
        </a>
    </div>
</div>
<div class="space10"></div>
<!--END METRO STATES-->
</div>
