@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<link href="~/Content/css/dashbord.css" rel="stylesheet" />
<link href="~/Content/cssLogin/css/font-awesome.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Dashboard  Agent Siege Consultation
    </h1>
</section>
<br /><br />

<div class="row-fluid">
    <!--BEGIN METRO STATES-->
    <div class="metro-nav">
        <div class="metro-nav-block nav-block-orange">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-user"></i>
                <div class="info">321</div>
                <div class="status">New User</div>
            </a>
        </div>
        <div class="metro-nav-block nav-olive">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-tags"></i>
                <div class="info">+970</div>
                <div class="status">Sales</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-yellow">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-comments-alt"></i>
                <div class="info">49</div>
                <div class="status">Comments</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-green double">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-eye-open"></i>
                <div class="info">+897</div>
                <div class="status">Unique Visitor</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-red">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-bar-chart"></i>
                <div class="info">+288</div>
                <div class="status">Update</div>
            </a>
        </div>
    </div>
    <div class="metro-nav">
        <div class="metro-nav-block nav-light-purple">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-shopping-cart"></i>
                <div class="info">29</div>
                <div class="status">New Order</div>
            </a>
        </div>
        <div class="metro-nav-block nav-light-blue double">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-tasks"></i>
                <div class="info">$37624</div>
                <div class="status">Stock</div>
            </a>
        </div>
        <div class="metro-nav-block nav-light-green">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-envelope"></i>
                <div class="info">123</div>
                <div class="status">Messages</div>
            </a>
        </div>
        <div class="metro-nav-block nav-light-brown">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-remove-sign"></i>
                <div class="info">34</div>
                <div class="status">Cancelled</div>
            </a>
        </div>
        <div class="metro-nav-block nav-block-grey ">
            <a data-original-title="" href="http://thevectorlab.net/metrolab/#">
                <i class="icon-external-link"></i>
                <div class="info">$53412</div>
                <div class="status">Total Profit</div>
            </a>
        </div>
    </div>
    <div class="space10"></div>
    <!--END METRO STATES-->
</div>
